body{
    background-color:rgb(74, 3, 140);
}
#navbar{
    height:40px;
    width:100%;
    margin-right:200px;
    background-color:cornflowerblue;
}
a{
    margin-right:70px;
    color:black;
    text-decoration:none;

}
#name{
    background-color:crimson ;
}
#main{
    height:40px;
    width:100%;
    margin-right:200px;
    background-color:cornflowerblue;
}
marquee{
    height:40px;
    background-color:black ;
    color:white;
    direction:left;
}
video{
    width:800px;
    margin-left:200px;
    
}
#news{
    color:white;
    font-family: italic;
    font-weight: bold;
}
select{
    height:100px;
    width:100px;
    background-color: aqua;
}
.myclass{
    height:500px;
    width:10opx;
}
#table{
    background-color:cornflowerblue;
    
    
}
#abc{
    margin-right:100px;
}
table{
    margin-left:100px;
}
#hgv{
    margin-left:100px;
     

}
#img{
    margin-left:100px;
}
#slide{
    height:250px;
    background-color:rgb(74, 3, 140) ;
    direction:rtl;
}
#circle{
    margin-right:200px;
    
    height:100px;
    width:100px;
    border-radius:50%;
}
#gap{
    background-color: crimson;
    height:150px;
}
h4{
    color:white;
}
h3{
    color:white;
    text-align: center;
    text-decoration:dotted;
}
h2{
    color:white;

}
#white{
    color:white;
    text-decoration:dashed;
}